{% extends "_base.html" %}
{% block content %}
{% set input_name = 'cif' if g.tenant == 'summit' else 'q' %}
<table class="cls_frm">
  <tr><td colspan="2"><b>{% if g.tenant == 'summit' %}CIF Lookup{% else %}Member Lookup{% endif %}</b></td></tr>
  <form method="post" action="/search">
  <tr>
    <td>{{ g.labels.member_id_label }}</td>
    <td><input type="text" name="{{ input_name }}" size="20"></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" class="cls_btn" value="Search"></td>
  </tr>
  </form>
  {% if error %}
  <tr><td colspan="2" class="cls_err">{{ error }}</td></tr>
  {% endif %}
</table>
{% endblock %}
